body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  hr {
    width:500px;    /* shortening horizontal line */
  }
  
  /* styling the board */
  #board {
    width: 400px;
    height: 400px;
  
    background-color: #cdc1b5;  /* the 2048 game has a very specific background color */
    border: 6px solid #bbada0;
    
    margin: 0 auto;    /* centering the board*/
    display: flex;     /* making sure the tiles we put in our board div will go in-line*/
    flex-wrap: wrap;   /* tiles will go 4 in line and not on top of eachother */
     
  }
  
  .tile {   /* tile class to design our tiles */
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;
  
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* each kind of tile has a different background & text color */
  .x2 {
    background-color: #94d5cc;
    color: #727371;
  
  }
  
  .x4 {
    background-color: #b6decc;
    color: #727371;
  }
  
  .x8 {
    background-color: #cceccc;
    color: white;
  }
  
  .x16 {
    background-color: #e0d6de;
    color: white;   
  }
  
  .x32 {
    background-color: #edd6de;
    color: white;
  }
  
  .x64 {
    background-color: #edccde;
    color: white;
  }
  
  .x128 {
    background-color: #edbbc0;
    color: white;
  }
  
  .x256 {
    background-color: #edaae0;
    color: white;
  }
  
  .x512 {
    background-color: #edaccf;
    color: white;
  }
  
  .x1024 {
    background-color: #ed9baf;
    color: white;
  }
  
  .x2048 {
    background-color: #ed8792;
    color: white;
  }
  
  .x4096 {
    background-color: #ed6c92;
    color: white;
  }
  
  .x8192 {
    background-color: #ed6c67;
    color: white;
  }